{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6">
                    <h5 class="text-uppercase">{{ titulo }}</h5>
                </div>
                {% if query_user_staff.is_staff %}
                    <div class="col-sm-6">
                        <a class="btn btn-success has-ripple float-right" href="{% url 'cadastro_aluno' %}">
                            Novo Aluno
                            <i class="feather icon-user-plus"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<!-- [ Hover-table ] start -->
<div class="col-sm-12">
    <div class="card">
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" class="form-control" id="pesquisa_input" placeholder="Pesquisar" onkeyup="myFunction()">
                        </div>
                    </div>
                </div>
                <table class="table table-hover" id="id_tabela">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <!-- <th>tipo de usuário</th> -->
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for aluno in page_obj %}
                    <tbody>
                        <tr>
                            <td>{{aluno.nome}} {{aluno.sobrenome}}</td>
                            
                            <td></td>
                            {% if query_user_staff.is_staff %}
                            <td class="text-rigth" style="width: 6rem">
                                <a class="btn btn-icon btn-warning has-ripple mr-2" href="{% url 'detail_aluno' aluno.id %}">
                                    <i class="feather icon-file-text"></i>
                                </a>
                                <a class="btn btn-icon btn-success has-ripple mr-2" href="{% url 'edita_aluno' aluno.id %}">
                                    <i class="feather icon-edit-2"></i>
                                </a>
                                <a class="btn btn-icon btn-danger has-ripple" href="{% url 'remove_aluno' aluno.id %}">
                                    <i class="feather icon-delete"></i>
                                </a>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                {% include 'componentes/paginacao.html' %}
            </div>
        </div>
    </div>
</div>
<!-- [ Hover-table ] end -->
<script src="{% static 'assets/js/pesquisa_lista.js' %}"></script>
{% endblock content %}