{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="col-sm-12">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-sm-6">
                    <h5 class="text-uppercase">{{ titulo }}</h5>
                </div>
                {% if query_superuser.is_superuser %}
                    <div class="col-sm-6">

                        <div class="row float-right">

                            <a class="btn btn-success has-ripple" href="{% url 'cadastro_menu_associar' %}">
                                Associar Menu ao usuário
                                <i class="feather icon-menu"></i>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

<!-- [ Hover-table ] start -->
<div class="col-sm-12">
    <div class="card">
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Opcão no menu</th>
                            <th>Usuário Associado</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    {% for menu in page_obj %}
                    <tbody>
                        <tr>
                            <td>{{menu.nome_menu}}</td>
                            
                            <td></td>
                            {% if query_superuser.is_superuser %}
                                <td class="text-rigth" style="width: 6rem">
                                    <a class="btn btn-icon btn-warning has-ripple mr-2" href="{% url 'detail_menu' menu.id %}">
                                        <i class="feather icon-file-text"></i>
                                    </a>
                                    <a class="btn btn-icon btn-success has-ripple mr-2" href="{% url 'edita_menu' menu.id %}">
                                        <i class="feather icon-edit-2"></i>
                                    </a>
                                    <a class="btn btn-icon btn-danger has-ripple" href="{% url 'remove_menu' menu.id %}">
                                        <i class="feather icon-delete"></i>
                                    </a>
                                </td>
                            {% endif %}
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                {% include 'componentes/paginacao.html' %}
            </div>
        </div>
    </div>
</div>
<!-- [ Hover-table ] end -->
{% endblock content %}