
<!DOCTYPE html>
{% load static %}
<html lang="pt-br">

<head>
    <title>Escola de Programação</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'assets/images/favicon.ico' %}" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    
    

</head>
<body class="">
	<!-- [ Pre-loader ] start -->
	<!-- <div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div> -->
	<!-- [ Pre-loader ] End -->

	<!-- [ navigation menu ] start -->
    {% include 'componentes/menu.html' %}
	<!-- [ navigation menu ] end -->

	<!-- [ Header ] start -->
	{% include 'componentes/header_base.html' %}
	<!-- [ Header ] end -->
	
	

<!-- [ Main Content ] start -->

<div class="pcoded-main-container">
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <!-- <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard Analytics</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Dashboard Analytics</a></li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        {% block content %}{% endblock content %}
        <!-- [ Main Content ] end -->
    </div>
</div>
    <script src="{% static 'assets/js/usuario_logado.js' %}"></script>
    <script src="{% static 'assets/js/menu_usuario.js' %}"></script>
    <!-- Required Js -->
    <script src="{% static 'assets/js/vendor-all.min.js' %}"></script>
    <script src="{% static 'assets/js/plugins/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/ripple.js' %}"></script>
    <script src="{% static 'assets/js/pcoded.min.js' %}"></script>


<!-- Apex Chart -->
<script src="{% static 'assets/js/plugins/apexcharts.min.js' %}"></script>


<!-- custom-chart js -->
<script src="{% static 'assets/js/pages/dashboard-main.js' %}"></script>

    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>

    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>

    {% if messages %}
        {% for message in messages %}
            <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
        {% endfor %}
    {% endif %}

    <script>
        $(document).on('click', '.confirm-delete', function () {
            $("#confirmDeleteModal").attr("caller-id", $(this).attr("id"));
        });

        $(document).on('click', '#confirmDeleteButtonModal', function () {
            var caller = $("#confirmDeleteButtonModal").closest(".modal").attr("caller-id");
            window.location = $("#".concat(caller)).attr("href");
        });
    </script>

    <script>

        var crf_token = '{{ csrf_token }}';
        var baseUrl = `http://${window.location.host}/`;

        $.ajaxSetup({
            beforeSend: function(xhr, options) {
                options.url = baseUrl + options.url;
            }
        })
    </script>

    <script>
        $(document).ready(function(){

carrega_menu();

function carrega_menu(){ 
    $.ajax({
        url: `menu-usuario/`,
        type: "GET",
        headers: { "X-CSRFToken": crf_token },
        success: function (data) {
            
            $('#more-details').append(`<span>${data[0].username}</span>`)
            console.log(data.id)
            $.each(data, function(index, value){

                let nome_menu = value.nome_menu
                let caminho = value.caminho

                console.log(caminho)
                console.log(window.location.host)

                $('#menu_interativo').append(
                    `
                    <li class="nav-item">
                        <a href="${window.location.host}/${caminho}" class="nav-link "><span class="pcoded-mtext">${nome_menu}</span></a>
                    </li>
                    `
                )
            })
        },

        failure: function (data) {

        },

    });
}
})
    </script>

</body>

</html>
